body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 12px;
  line-height: 15px;
}
ul.menu li {
  float: left;
  width: 70px;
  text-align: left;
  list-style-type: none;
  margin-bottom: 15px;
}
ol {
  margin: 0px;
  padding: 0 0 0 15px;
}
ol li {
  margin: 0px;
  padding: 0px;
}
ul.list {
  clear: both;
  margin: 0px;
  padding: 0px;
}
ul.list li {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.list li.left { width: 60px; }
ul.list li.wide { width: 80px; }
#content { clear: both; }
#content ul li { margin-bottom: 10px; }
